body{
    font-family: 'Roboto', sans-serif;
}
.jumbotron{
    background-image: url(https://media.giphy.com/media/JCsIWyDn6uoGA/giphy.gif);
    background-position: center;
    color: white;
    height: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 20px;
}
h5{
    font-size: 40px;
    padding: 10px;
}
.card-header{
    width:100%;
    color: white;
    background-color:#3366ff;
}
.card{

   border-color: #3366ff;
   /* padding-right: 5px;
   padding-left: 5px; */
   padding-bottom: 5px;
}
.card-body{
    padding-right: 10px;
}